@import "./variables";

.register-form {
  width: 400px;
  padding-top: 5px;
  line-height: 10px;
}

.login-form {
  width: 400px;
  padding-top: 150px;

  }
.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #cacaca;
  padding-top: 25px;
  margin-bottom: 25px;
}
.stepper-box {
  width: 100%;
}

.container-header{
  padding-top: 5px;
  margin-bottom: 0px;
  }

.content-pages{
  display: inline-block;
}

